:root {
    --skin-color: #2a9d8f;
    --primary-gradient: linear-gradient(135deg, #2a9d8f 0%, #264653 100%);
    --secondary-gradient: linear-gradient(135deg, #e9c46a 0%, #f4a261 100%);
    --accent-gradient: linear-gradient(135deg, #e76f51 0%, #f4a261 100%);
}